pandas
jupyter
notebook
matplotlib
scikit-learn
xgboost
interpret
openpyxl
sweetviz
scipy
dvc==3.42.0
dvc_s3==3.0.1
dvc-data==3.8.0
mlflow
python-dotenv
pytorch-tabnet
ydata-profiling
sweetviz
pygwalker
kaleido